# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:

    runs-on: ubuntu-latest
    permissions:
      contents: write  # Required to update release notes
      id-token: write  # Required for PyPI trusted publishing

    steps:

    # Checks out
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: 'pip'

    # Update release notes with git cliff
    - name: Generate changelog for this release
      uses: orhun/git-cliff-action@v4
      with:
        config: cliff.toml
        args: --latest --strip header
      env:
        OUTPUT: release-notes.md
    - name: Update release notes
      uses: softprops/action-gh-release@v2
      with:
        body_path: release-notes.md

    # Build and publish
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install hatch
    - name: Build and publish
      run: hatch build
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
